<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div class="container">
            <form action=""> 
                 <h3>Realizar perguntas</h3>
            <input type="text" placeholder="titulo" class="form-control">
            <label for="">descrição</label>
            <textarea name=""placeholder='descreva sua pergunta'  class="form-control"></textarea>
            <button class="btn btn-success">perguntar</button>
            
           </form>
          
          </div>

</body>
<script src="js/bootstrap.min.js"></script>
</html>